/*  responsive css start */


 /*  hero  mobile css start */
@media only screen and (max-width: 480px) {

.hero-wraper{
    grid-template-columns: 1fr ;
}

.hero-content{
text-align: center; 
}
.hero-content h6{
    color: var(--primary-color);
}
.hero-content h1{
    font-size:2.5rem;
}
.hero-content p{
    font-size: 10px;
}
.hero-content a{
    margin-bottom: 10px;
    padding: 14px 30px ;
}

  }
/*  hero mobile  css end  */


/*  exchange card css start */
@media only screen and (max-width: 480px) {
.Exchange-card{
   
    padding: 50px 0;
    width: 100%;
    height: 136vh;
}
.exchange-wraper{
    grid-template-columns: 1fr ;
}
.card{
 
    width:100%;
    height: 30vh;
}
}
/*  exchange card css end  */

@media only screen and (max-width: 480px) {
    /*  company css header start */
.company-section {
    height: 120vh;
}
.company-wraper{
    grid-template-columns:1fr;
    grid-gap: 3rem;
}
.company-section h3{
    text-align: center;
    font-size: 2rem;
}
/* company css about start */
.about-wraper{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.company-wraper img{
    position: relative;
    left: 35%;
   text-align: center;
}
.about-left{
    text-align: center;
}
.about-right{
    text-align: center;
}
.about-right p{
    margin-bottom: 30px;
}
/* company css about end  */
}

/*  responsive cssend  */